{%load static %}
<section id="home" class="content-section bg-light text-center py-5">
  <div class="container">
    <h1 class="display-4">
      Seiketsu <span class="text-primary">Streaming</span>
    </h1>
    <p class="lead mt-3">
    In an AI-powered computer vision project, <span class="text-primary badge">Seiketsu</span> or <span class="badge bg-black">Standardized</span> refers to detecting and monitoring organizational standards in a
    factory setting. The AI system uses computer vision to evaluate whether workers adhere to predefined arrangements in
    their work areas. By analyzing visual data, it identifies deviations in the placement of tools, equipment, and
    materials, ensuring a tidy and organized workplace. This supports consistent operations, reduces accident risks, and
    boosts productivity. Additionally, the AI provides real-time feedback and actionable insights, helping supervisors
    ensure compliance and foster a culture of order and discipline among workers.
    </p>
  </div>
</section>