{%load static %}
<section id="home" class="content-section bg-light text-center py-5">
  <div class="container">
    <h1 class="display-4">
      Seiketsu <span class="text-primary">Streaming</span>
    </h1>
    <p class="lead mt-3">
    In an AI-powered computer vision project, <span class="text-primary badge">Seiketsu</span> or <span class="badge bg-black">Standardized</span> focuses on monitoring organizational standards in
    factories. The AI evaluates workers' adherence to predefined arrangements, detecting deviations in tool and material
    placement to ensure a tidy, organized workplace. This improves consistency, reduces accidents, and boosts productivity
    while providing real-time feedback to help supervisors maintain compliance and promote discipline.
    </p>
  </div>
</section>