<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>V5S-Seiketsu</title>
</head>
<body>
  <h1>This is Seiketsu Streaming</h1>
  <h2>In the context of an AI computer vision project, Seiketsu refers to the detection and monitoring of the standardization
  of order and organization within a factory setting. The AI system uses computer vision techniques to assess whether
  workers are adhering to predefined organizational standards in their work areas. By analyzing visual data, the system
  can identify deviations from the expected arrangement of tools, equipment, and materials, ensuring that the workplace
  remains tidy and organized. This enables the factory to maintain consistency in operational practices, reduces the risk
  of accidents, and improves overall productivity. Additionally, the AI provides real-time feedback and actionable
  insights, helping supervisors ensure compliance with standard operating procedures and fostering a culture of order and
  discipline among workers.</h2>
  <section id="seiketsu" class="content-section py-5">
    <div class="container">
      <h2 class="text-center mb-4">
        <a href="/seiketsu_page">Seiketsu</a>
      </h2>
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">
          <img src="{% url 'seiketsu_feed' %}" width="100%" , alt="Live Seiketsu Feed" />
        </div>
      </div>
    </div>
  </section>
</body>
</html>