{%load static %}
<section id="seiketsu" class="content-section py-5">
  <div class="container-fluid">
    <div class="row">
      {% for camera in cameras %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="video-thumbnail">
          <img class="rtsp img-fluid" src="{% url 'seiketsu_feed' camera %}" alt="Live Seiketsu Feed {{ camera }}" />
        </div>
        <div class="caption">
          Caption untuk video {{ camera }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>