.venv/*
.vscode/*

archives/static/data/*
archives/static/models/*
archives/static/images/*
archives/static/videos/*

website/static/images/*
website/static/videos/*
website/static/resources/*
website/media/*

*.pyc
.draft.py
*_all.py
.draft.*