# main branch
.venv/*
.vscode/*
# static/data/*
# static/models/*
# static/images/*
# static/videos/*
*.pyc
# .draft.py
# *_all.py

# # broomNoHTML branch
# src/data/*
# src/images/*
# src/models/*
# src/videos/*
