# main branch
.venv/*
.vscode/*
archives/static/data/*
archives/static/models/*
archives/static/images/*
archives/static/videos/*
*.pyc
.draft.py
*_all.py
*/.draft.html

website/static/images/*
website/static/videos/*