h1 {
  margin-bottom: 20px;
}

.caption {
  text-align: center;
  margin-top: 8px;
  font-size: 0.9rem;
  color: #333;
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

