section {
  scroll-margin-top: 80px;
}

body {
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand span {
  color: #0d6efd;
}

a.video-link {
  cursor: pointer;
  display: block;
}