/* static/css/styles.css */

body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  /* agar scroll ke anchor berjalan halus */
}

.content-section {
  padding-top: 5rem;
  /* beri jarak agar konten tidak tertutup navbar */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand span {
  color: #0d6efd;
}