{%load static %}
<section class="py-5" id="seiri">
  <div class="container">
    <h2>Seiri</h2>
    <div class="row">
      <!-- Contoh Grid Video -->
      <div class="col-md-4 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="seiton">
  <div class="container">
    <h2>Seiton</h2>
    <!-- Grid Video lain -->
    <div class="col-md-4 mb-3">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
</section>

<section class="py-5" id="seiso">
  <div class="container">
    <h2>Seiso</h2>
    <!-- Grid Video lain -->
    <div class="col-md-4 mb-3">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
</section>

<section class="py-5" id="seiketsu">
  <div class="container">
    <h2>Seiketsu</h2>
    <!-- Grid Video lain -->
    <div class="col-md-4 mb-3">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
</section>

<section class="py-5" id="shitsuke">
  <div class="container">
    <h2>Shitsuke</h2>
    <!-- Grid Video lain -->
    <div class="col-md-4 mb-3">
      <video width="100%" height="auto" autoplay loop muted>
        <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
      </video>
    </div>
  </div>
</section>