{% load static %}

<!-- Seiri -->
<section id="seiri" class="content-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Seiri</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<!-- Seiton -->
<section id="seiton" class="content-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Seiton</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiton.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<!-- Seiso -->
<section id="seiso" class="content-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Seiso</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <!-- img streaming -->
        <img src="{% url 'seiso_feed' %}" width="100%", alt="Live Seiso Feed" />
      </div>
    </div>
  </div>
</section>

<!-- Seiketsu -->
<section id="seiketsu" class="content-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Seiketsu</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiso.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<!-- Shitsuke -->
<section id="shitsuke" class="content-section py-5">
  <div class="container">
    <h2 class="text-center mb-4">Shitsuke</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_shitsuke.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>