{% load static %}

<!-- Seiri -->
<section id="seiri" class="content-section bg-primary">
  <div class="container">
    <h2 class="text-center mb-4 text-white">Seiri</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiri.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,0L288,192L576,160L864,96L1152,32L1440,160L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>

<!-- Seiton -->
<section id="seiton" class="content-section">
  <div class="container">
    <h2 class="text-center mb-4">Seiton</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_seiton.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0d6efd" fill-opacity="1"
      d="M0,160L288,256L576,96L864,128L1152,0L1440,160L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>

<!-- Seiso -->
<section id="seiso" class="content-section bg-primary">
  <div class="container">
    <h2 class="text-center mb-4">
      <a href="/seiso_page" class="text-white" style="text-decoration: none;">Seiso</a>
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <a href="/seiso_page" class="video-link">
          <video width="100%" height="auto" autoplay loop muted>
            <source src="{% static 'videos/vid_seiso.mp4' %}" type="video/mp4">
          </video>
        </a>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,96L288,64L576,128L864,192L1152,256L1440,256L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>

<!-- Seiketsu -->
<section id="seiketsu" class="content-section">
  <div class="container">
    <h2 class="text-center mb-4">
      <a href="/seiketsu_page" class="text-black" style="text-decoration: none;">Seiketsu</a>
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <a href="/seiketsu_page" class="video-link">
          <video width="100%" height="auto" autoplay loop muted>
            <source src="{% static 'videos/vid_seiketsu.mp4' %}" type="video/mp4">
          </video>
        </a>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0d6efd" fill-opacity="1"
      d="M0,160L288,288L576,256L864,96L1152,32L1440,224L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>

<!-- Shitsuke -->
<section id="shitsuke" class="content-section bg-primary">
  <div class="container">
    <h2 class="text-center mb-4 text-white">Shitsuke</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 mb-3">
        <video width="100%" height="auto" autoplay loop muted>
          <source src="{% static 'videos/vid_shitsuke.mp4' %}" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,32L288,160L576,96L864,224L1152,256L1440,32L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>