{% load static %}
<section id="home" class="content-section bg-light text-center">
  <div class="container mb-5 pb-5">
    <h1 class="display-4 mt-5">
      Let <span class="text-primary">CCTV</span> Effectively
      Finalize <span class="text-success"><br>The Company with AI</span>
    </h1>
    <p class="lead fs-5">
      This project is developed to assist 5S supervisors in monitoring
      the condition of the work area using AI.
    </p>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#0d6efd" fill-opacity="1"
      d="M0,64L288,128L576,96L864,160L1152,0L1440,160L1440,320L1152,320L864,320L576,320L288,320L0,320Z"></path>
  </svg>
</section>